/* Quita el efecto de sombreado al pasar el mouse sobre las filas */
table.table tr:hover {
    background-color: transparent !important;
}

/* Animación de las leyendas */
.mensaje-validacion {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

/* Cuando la leyenda aparece */
.mostrar-validacion {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

[data-theme="light"] {
    --color-primary: 59, 130, 246; /* blue-500 */
    --color-primary-hover: 37, 99, 235; /* blue-600 */
}
.input-focus-effect:focus {
    box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.2);
    border-color: rgba(var(--color-primary), 0.5);
}
.btn-action:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(var(--color-primary), 0.1);
}